<h1> Service </h1>

  <p><h2><%= @service.name %></h2>
    <%= @service.info %></p>
  <p><h3>FAQ</h3><%= simple_format(@service.faq) %></p>
  
 
  <% if @service.previous%>
      <%= link_to "<< Previous Service", @service.previous%>
  <%end%>
    <%= link_to "<<Back>>", :back%> 
  <% if @service.next%>
  <%= link_to "Next Service>>", @service.next%>
  <%end%>


   

 


