<head>
  <title>Linneo - Major Products And Techniques</title>
</head>

<body>
<h1>Linneo</h1>
<h2>Major Products And Techniques</h2>
<div class="linneo_landmark">
  <%= link_to 'About Us', linneo_path() %>
  <%= link_to 'Contacts', 'contacts' %>
  <%= link_to 'Top Events', 'topevents' %>
  <%= link_to 'PARTNERS', partners_path() %>
</div>
<h3>Tecniche</h3>
<p>I pezzi che fanno parte del catalogo Living Divani sono frutto del perfetto equilibrio tra innovazione tecnologica e capacità artigianale. Le complessità di realizzazione sono gestite perfettamente all’interno dell’azienda. Un personale altamente qualificato e dei macchinari di ultima generazione risolvono ogni problematica legata alla produzione, dalla più semplice alla più complessa. A ogni fase produttiva seguono controlli accurati.<br /><br />
  I tessuti - vengono meticolosamente controllati per eliminare eventuali imperfezioni e essere avviati alle operazioni di taglio. Tutti i modelli di taglio sono inseriti in un sistema informatico che ne garantisce la perfetta uniformità.<br /><br />
  I vari tagli vengono poi raggruppati per singoli prodotti ed inviati al reparto cucito, dove il personale altamente specializzato, si occupa delle finiture.<br /><br />
  Nel reparto di assemblaggio il prodotto assume la sua configurazione definitiva e subisce un ultimo meticoloso controllo prima di essere avviato al settore spedizioni. Ad ogni prodotto viene allegato la garanzia con tutte le informazioni e i consigli per la cura e manutenzione, al fine di garantire una durata maggiore.</p>
<br />
<h3>Prodotti di rilievo</h3>
<br />
<table>
  <tr>
    <td><%= image_tag("LEAF.jpg", :height => 150) %></td>
    <td><%= image_tag("rod_xl_1.jpg", :height => 150) %></td>
    <td><%= image_tag("OFFCUT.jpg", :height => 150) %></td>
  </tr>
  <tr>
    <td>Poltrona LEAF</td>
    <td>Divano ROD XL</td>
    <td>Libreria OFF CUT</td>

  </tr>
</table>
</body>