<head>
  <title>Linneo - Top Events</title>
</head>

<body>
<h1>Linneo</h1>
<div class="linneo_landmark">
  <%= link_to 'About Us', linneo_path() %>
  <%= link_to 'Contacts', 'contacts' %>
  <%= link_to 'Major Products and Techniques', 'productsandtechs' %>
  <%= link_to 'PARTNERS', partners_path() %>
</div>
<h2>Top Events</h2>
<br />
<table>
  <tr>
    <td><%= image_tag("salonemobile.gif", :height => 200, :width => 270) %></td>
    <td>Protagonista al Salone del Mobile 2012<br />
      Milano</td>
  </tr>
  <tr>
    <td><%= image_tag("tendence.jpg", :height => 200, :width => 270) %></td>
    <td>Rappresentante del Made In Italy al Tendence<br />
      Francoforte</td>

  </tr>
</table>
</body>