<body class="home">
<h1 class="home">FILL YOUR SPACE</h1>
<div class="landmark">    
<%= link_to "LINNEO", nil%>    
<%= link_to "PRODUCTS", categories_path()%>    
<%= link_to "STYLES", styles_path()%>    
<%= link_to "DESIGNERS", designers_path()%>    
<%= link_to "SERVICES", services_path()%> 
<%= link_to "EVENTS", events_path()%>    
<%= link_to "SHOWROOMS", locations_path()%> 
<%= link_to "RETAILERS", locations_path()%> 
<%= link_to "PARTNERS", partners_path()%> 
</div>
<%= image_tag("logo.gif")%>
</body>

