<body class="home">
<h1 class="home">FILL YOUR SPACE</h1>
<div class="landmark">    
<%= link_to "Linneo", nil%>    
<%= link_to "Products", nil%>    
<%= link_to "##Styles", nil%>    
<%= link_to "Designers", nil%>    
<%= link_to "Services", services_path()%> 
<%= link_to "##Events", nil%>    
<%= link_to "##Showrooms", nil%> 
<%= link_to "##Retailers", nil%> 
<%= link_to "##Partners", nil%> 
</div>
</body>

