<body class="home">
<h1 class="home">FILL YOUR SPACE</h1>
<div class="landmark">    
<%= link_to "LINNEO", nil%>    
<%= link_to "PRODUCTS", nil%>    
<%= link_to "##STYLES", nil%>    
<%= link_to "DESIGNERS", nil%>    
<%= link_to "SERVICES", services_path()%> 
<%= link_to "##EVENTS", nil%>    
<%= link_to "##SHOWROOMS", nil%> 
<%= link_to "##RETAILERS", nil%> 
<%= link_to "##PARTNERS", nil%> 
</div>
</body>

