<h1>Nuovo Designer</h1>
<table class = "tabella">
<%= form_for @designer do |d|%>
<tr>
	<td><%= d.label 'Nome' %></td>
	<td><%= d.text_field :name %></td>
</tr>
<tr>
	<td><%= d.label 'Cognome' %></td>
    <td><%= d.text_field :last_name %></td>
</tr>
<tr>
	<td><%= d.label 'Biografia' %></td>
	<td><%= d.text_area :bio %></td>
</tr>
<tr>
	<td><%= d.label 'Foto' %></td>
	<td><%= d.file_field :img_path %></td>
</tr>
<tr>
	<td><%= d.label 'Foto prodotto di successo' %></td>
	<td><%= d.file_field :product_path %></td>
</tr>
<tr>
	<td><%= d.label 'Descrizione prodotto di successo' %></td>
    <td><%= d.text_area :product_description %></td>
</tr>
<tr>
	<td><%= d.submit %></td>
</tr>
     <% end %>