<h1> <%=@product.name%> </h1>
<p><%= @product.description %> </p>
<div class="image" id="product">
	<% if @product.image_url_1 != nil %>
    	<p><%= image_tag(@product.image_url_1)%></p>
    <% end %>
    <% if @product.image_url_2 != nil %>
    	<p><%= image_tag(@product.image_url_2)%></p>
    <% end %>
    <% if @product.image_url_3 != nil %>
    	<p><%= image_tag(@product.image_url_3)%></p>
    <% end %>
    <% if @product.image_url_4 != nil %>
    	<p><%= image_tag(@product.image_url_4)%></p>
    <% end %>
                
</div>
<div><% @services.each do |s| %>
    <p><%= link_to s.name, service_path(s)%></p>
    <%end%>
    <p>Designer: <%= link_to @designer.name+" "+@designer.last_name, designer_path(:designer_id => @product.designer_id)%></p>
    <%if @product.next(@product.category_id)%>
    <p> <%= link_to "Next Product with the same category", @product.next(@product.category_id)%></p>
    <% end %>
    <p> <%= link_to "Back to Category Products", products_path(:category_id => @product.category_id)%></p>
     <%if @product.prev(@product.category_id)%>
    <p> <%= link_to "Previous Product with the same category", @product.prev(@product.category_id)%></p>
    <%end%>


