<!DOCTYPE html>
<html>
<head>
  <title>Linneo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="landmark">    
<%= link_to "LINNEO", linneo_path()%>
<%= link_to "PRODUCTS", categories_path()%>    
<%= link_to "STYLES", styles_path()%>    
<%= link_to "DESIGNERS", designers_path()%>    
<%= link_to "SERVICES", services_path()%> 
<%= link_to "EVENTS", events_path()%>    
<%= link_to "SHOWROOMS", locations_path()%> 
<%= link_to "RETAILERS", locations_path()%> 

</div>

<%= yield %>

</body>
</html>
