<!DOCTYPE html>
<html>
<head>
  <title>Linneo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="landmark">  
<p><%= link_to "LINNEO", linneo_path()%></p>
<p><%= link_to "PRODUCTS", categories_path()%></p>   
<p><%= link_to "STYLES", styles_path()%></p>
<p><%= link_to "DESIGNERS", designers_path()%></p>   
<p><%= link_to "SERVICES", services_path()%></p>
<p><%= link_to "EVENTS", events_path()%></p>
<p><%= link_to "SHOWROOMS", locations_path()%></p>
<p><%= link_to "RETAILERS", locations_path()%></p>
</div>

<%= yield %>

</body>
</html>
